<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="\static\styles\style.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <div class="logo">
            <a class="logo__link" href="{{ url_for('index') }}">URL-Shortener</a>
        </div>
        <nav>
            <ul class="nav__links">
                <li class="nav-item"><a href="{{ url_for('get_url_by_id') }}">Get url by id</a></li>
                <li class="nav-item"><a href="{{ url_for('all_info') }}">All urls</a></li>
            </ul>
        </nav>
    </header>
     <div class="container {{ table_style }}">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% block content %} {% endblock %}
        </div>
</body>
</html>