{% extends 'base.html' %}

{% block extra_head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
{% endblock %}
{% block content %}
<form method="post">
    <label for="basic-url" class="form-label">Find your url by uid</label>
    <div class="input-group mb-3">
      <input name="uid" type="text" placeholder="Enter link uid" class="form-control" value="{{ request.form['uid'] }}" id="basic-url" aria-describedby="basic-addon3" required>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Get link</button>
    </div>
    {% if link %}
        <div class="output__link">
            <p>Your link</p>
            <a href="{{ link }}">{{ link }}</a>
        </div>
    {% endif %}
</form>
{% endblock %}