{% extends 'base.html' %}

{% block extra_head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
{% endblock %}
{% block content %}
<form method="post">
    <label for="basic-url" class="form-label">Make your link shorter</label>
    <div class="input-group mb-3">
          <input name="long-url" type="url" placeholder="Enter link" class="form-control" value="{{ request.form['long-url'] }}" id="basic-url" aria-describedby="basic-addon3" required>
        </div>
        <label for="customRange1" class="form-label">Select expiration date</label>
        <input name="days_left" class="form-range" type="range" id="customRange1" min="1" max="365" value="90">
        <div>
            <p>Expire after <span id="outputDays">90</span> Days</p>
        </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Get short link</button>
    </div>
    {% if short_url %}
        <div class="output__link">
            <p>Your shortcut link</p>
            <a href="{{ short_url }}">{{ short_url }}</a>
        </div>
    {% endif %}
</form>
{% endblock %}
{% block extra_scripts %}
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}