@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-item a, .logo__link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}

.logo {
    cursor: pointer;
    color: white;
}

.nav__links {
    list-style: none;
    margin-bottom: 0;
}

.nav__links .nav-item {
    display: inline-block;
    padding: 0px 20px;
}

.nav-item a:hover {
    color: #0088a9;
}

.container {
    margin-top: 50px;
    width: 700px !important;
}

.container.table {
    width: 100% !important;
}

.mb-3, .col-12 {
    margin-top: 15px !important;
}

.output__link {
    margin-top: 20px;
    display: block;
    padding: 20px;
    text-align: center;
}

.output__link p {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 150px;
    width: 500px;
    margin: -75px 0 0 -250px;
    padding: 20px;
    font: 75px/75px Monoton, cursive;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
    color: red;
}

#error {
    color: #fff;
    text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}
.dark {
    background-color: #111111;
}
